/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}
/* FINE RESET */

/* COMMON */
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #33475B;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  float: left;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.standard-text{
  display: inline-block;
  line-height: 25px;
  font-size: 14px;
}

.thin-text{
  font-size: 12px;
  line-height: 25px;
}

a{
  text-decoration: none;
  color: #33475B;
  font-size: 14px;
}

a:hover:not(.btn, .contact-btn ){
  color: #0091AE;
  text-decoration: underline;
}

.btn{
  display: inline-block;
  color: white;
  background-color: #FE775A;
  border: 1px solid #FE775A;
  padding: 20px 40px;
  border-radius: 5px;
}

.btn:hover{
  opacity: 0.8;
}

.empty{
  background-color: transparent;
  color: #FE775A;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: #F4F9FD;
}

.box-shw{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.txt-left{
  text-align: left;
}

.txt-center{
  text-align: center;
}

.txt-right{
  text-align: right;
}

.menu{
  list-style-type: none;
}

hr{
  background-color: #33475B;
}
/* FINE COMMON */


/* --HEADER-- */

/* NAVIGATOR */
.col.left p::after,
.nav-bottom .menu li:not(:nth-child(2))::after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 800;
}

.col.left a{
  border-left: 2px solid #33475B;
  margin-left: 15px;
  padding-left: 15px;
}
/* Nav Top */
.nav-top{
  padding: 30px 0;
}

nav .col{
  width: 50%;
}

nav .btn{
  display: inline;
}

.col.right .btn{
  padding: 10px 10px;
}

.col.right .empty{
  margin: 0 25px;
}

.fa-search{
  color: #00A4BD;
  cursor: pointer;
}

/* Nav Bottom */

.nav-bottom img{
  width: 110px;
}

.nav-bottom .col.left{
  /* SCHIFEZZA DA CORREGGERE! */
  margin: 24.5px 0;
  width: 40%
}

.nav-bottom .col.right{
  width: 60%;
}

.nav-bottom .menu li{
  display: inline-block;
  line-height: 80px;
  margin-left: 20px;
}
/* FINE NAVIGATOR */

/* JUMBTRON */

.jumbotron{
  height: 650px;
  position: relative;
}

.obj-fit{
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute;
}

.teaser{
  padding-top: 100px;
  width: 61%;
  position: relative;
}

h1{
  font-size: 50px;
}

.teaser p{
  margin: 30px 0;
}
/* FINE JUMBOTRON */
/* --FINE HEADER-- */

/* MAIN */
/* Features */
.features{
  text-align: center;
  padding: 40px 0;
}

.features img{
  margin: 0 auto;
  width: 300px;
}

.features h2{
  margin: 10px 0 20px 0;
}

.features .tight{
  width: 80%;
}

.wide-card{
  margin: 45px 0 35px 0;
  padding: 60px;
  border-radius: 5px;
}

.wide-card .image{
  width: 30%;
}

.wide-card .image img{
  width: 55%;
  margin-bottom: 30px;
}

.wide-card .description{
  text-align: left;
  width: 70%;
}

.wide-card h3{
  margin-bottom: 30px;
}

.wide-card p{
  width: 95%;
}

.features h4{
  display: inline-block;
  margin: 30px 0;
}

.line{
  position: relative;
  bottom: 40px;
  margin-left: 225px;
  width: 58%;
}

.wide-card .menu li{
  display: inline-block;
  margin-right: 25px;
}

.card-container>*{
  width: 318px;
}

.card{
  padding: 20px 20px;
  border-radius: 5px;
}

.card img{
  width: auto;
  height: 130px;
}

.card:nth-child(2){
  margin: 0 35px;
}

.feature-info{
  height: 200px;
}

.feature-info h3{
  margin: 20px 0;
}

.card ul{
  margin-bottom: 50px;
}

.features li{
  vertical-align: middle;
}

.features li:before {
  content: "";
  background: url("../img/orange_check.svg") no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 14px;
  vertical-align: middle;
}

.wide-card:hover,
.card:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* Fine Features */

/* Hubspot's Team & Community */
.bg-gradient{
  color: white;
  background: rgb(0,166,187);
  background: linear-gradient(90deg, rgba(0,166,187,1) 2%, rgba(0,186,169,1) 100%);
}

.community-int{
  padding-top: 40px;
}

.community-int h2{
  width: 86%;
  margin: 0 auto;
}

.community-int p{
  margin: 20px auto 40px auto;
}

.grid .col{
  width: 25%;
  padding: 15px 40px;
}

.grid .col:not(:last-child){
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.grid.first{
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.grid .col img{
  width: auto;
  height: 37px;
  margin: 0 auto;
}

.big-numbers{
  font-size: 35px;
  margin: 15px 0 5px 0;
}

.big-numbers span{
  font-weight: 400;
  font-size: 25px;
  position: relative;
  bottom: 2.5px;
  left: 2px;
}

.numbers-container{
  padding-bottom: 80px;
}
/* Fine Hubspot's Team & Community */

/* Costumers */

.customers{
  padding: 40px 0 50px 0;
}
.customers-details .customers-info{
  width: 40%;
}

.customers-details .customers-logos{
  width: 60%;
}

.customers-info{
  padding: 0 100px;
}

.customers-info h4{
  margin-bottom: 20px;
}

.customers-logos .menu li{
  display: inline-block;
  width: 24%;
  padding: 10px;
}

.customers-logos .menu li img{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.new-customer{
  padding-top: 30px;
}

.become-customer{
  width: 48%;
}

.become-customer h2{
  width: 90%;
  margin: 30px 0;
}

.become-customer .btn{
  margin: 35px 0;
}

.potential-new-customer-pic{
  width: 52%;
  margin: auto 0;
}

.potential-new-customer-pic img{
  width: 53%;
  float: right;
}

/* Fine Costumers */
/* FINE MAIN */

/* FOOTER */
footer{
  background-color: #32495B;
  color: white;
  padding: 40px 0 40px 0;
}

/* Footer Top */
.vertical-lists .col{
  width: 25%;
}

.vertical-lists .menu li a{
  color: #DADEE0;
  font-size: 12px;
}

.vertical-lists .col h5{
  margin-bottom: 20px;
}

.vertical-lists .menu li{
  margin-bottom: 15px;
}

.vertical-lists .menu .contact-btn{
  background-color: #DADEE0;
  color: #32495B;
  padding: 10px 10px;
  border-radius: 5px;
  display: inline-block;
}

.vertical-lists .menu i{
  font-size: 15px;
  margin-right: 20px;
}

.horizontal-list .menu li{
  display: inline-block;
  margin: 50px 0 15px 0;
}

.horizontal-list .menu li:not(:last-child){
  margin-right: 25px;;
}

.horizontal-list .menu a{
  color: #DADEE0;
}

footer hr{
  background-color: #DADEE0;
  opacity: 0.8;
}
/* Fine Footer Top */

/* Footer Bottom */
.footer-bottom{
  margin-top: 30px;
  color: white;
}

.footer-bottom .col{
  width: 50%;
}

.copyright img{
  width: 20%;
}

.legal-stuff a{
  color: #DADEE0;
  margin-left: 20px;
  font-size: 12px;
}
/* Fine Footer Bottom */
/* FINE FOOTER */
